# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# Ollama
ollama_data/

# Qdrant storage
qdrant_data/

# Neo4j
neo4j_data/

# Timescale
timescaledb_data/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db